.container-2{
    width: 450px;
    height: 230px;
    padding: 20px;
    position: relative;
    top: 80px;
    left: 400px;
    border: 1px solid #000;
}

h1{
    text-align: center;
}

.btn-secondary{
    position: relative;
    top: -54px;
    left: 230px;
}

.btn-danger{
    position: relative;
    left: 100px;
}